
bory {
    background-color: #000;
    color: #fff;
}

body {
    font-size: 2rem;
    color: #fff;
    background-color: #000;
    font-family: sans-serif;

h1 {
    background-color: red;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}